APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null

AWS_ACCESS_KEY=youraccesskey
AWS_SECRET_KEY=yoursecretkey
AWS_REGION=eu-west-1
AWS_S3_BUCKET_NAME=articles-to-podcast


POCKET_API=yourapikey
WATSON_TTS_USERNAME=yourusername
WATSON_TTS_PASSWORD=yourpassword
