.pocket-logo {
    background: url('../images/pocket-logo.png') center left no-repeat;
    background-size: 150px 38.5px;
    margin-left: 10px;
    padding: 19.25px 75px;
    display: inline-block;
    text-indent: -9999px;
}