html,
body {
    background: $white;
    font: 400 16px/20px $avenir;
    color: $darkGrey;
    -webkit-font-smoothing: antialiased;
    font-smooth: always;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

// HTML5 responsive video //
video {
    height: auto !important;
    width: 100% !important;
}

// Basic responsive imagery //
img {
    height: auto !important;
    max-width: 100%;
    vertical-align: middle;
}

// Interactions should have pointer //
label,
a,
button,
select,
input[type="submit"] {
    cursor: pointer;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1rem 0;
    overflow-wrap: break-word;
    text-transform: uppercase;
}

h1 {
    @include rem(font-size, 48px);
    font-weight: 300;
    line-height: 1.17;
}

h2 {
    color: #a9abae;
    font-family: $avenirBlack;
    @include rem(font-size, 30px);
    font-weight: 300;
    line-height: 1.3;
}

h3 {
    @include rem(font-size, 24px);
    letter-spacing: 0.05em;
    line-height: 1.4;
}

h4 {
    color: #a9abae;
    font-family: $avenirBlack;
    @include rem(font-size, 18px);
    letter-spacing: 0.05em;
    line-height: 1.4;
}

h5 {
    @include rem(font-size, 16px);
}

h6 {
    @include rem(font-size, 16px);
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}


a {
    color: $darkGrey;

    &:focus,
    &:hover {
        text-decoration: underline;
    }

    &:active {

    }
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


select {
    width: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 0.3em 0;
}

ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

dd {
    margin: 0;
}

abbr {
    cursor: help;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}


table {
    font-size: 1em;
}

caption {

}

iframe {
    border: 0;
}

%button {
    background: $lightBlue;
    border: 0;
    border-radius: 0;
    color: #FFF;
    display: inline-block;
    font-family: $avenirBlack;
    margin: 1em 0;
    padding: 1em 2em;
    text-decoration: none;
    text-transform: uppercase;
    @include transition(all 0.2s ease-in-out);

    &:hover {
        background: $blue;
        text-decoration: none;
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }
}

.button,
button,
[type="submit"] {
    @extend %button;
}

[type="text"],
[type="email"],
[type="password"] {
    border: 1px solid $backgroundGrey;
    padding: 0.5em 0.2em;
    margin: 0.2em 0;
    min-width: 20em;

}