// Vertical rhythm settings
// ------------------------------------------------
$base-font-size: 16px;
$base-line-height: 20px;

// Common breakpoints
// ------------------------------------------------

// Colour palette
// ------------------------------------------------
$white:         #ffffff;
$darkGrey:      #231f20;
$headingGrey:   #6b6b6b;
$lightGrey:     #6d6e71;
$lighterGrey:   #808285;
$blue:          #2f4aa0;
$lightBlue:     #3fa6d4;
$washedBlue:    #475fa2;
$dirtyBlue:     #0b7cb6;

$backgroundGreyBorder:  #dcddde;
$backgroundGrey:        #eeeeef;
$backgroundLightGrey:   #f6f6f6;

$yellowGrey: rgba(240,234,228,0.4);


// Fonts
// ------------------------------------------------

$avenir: "AvenirRegular", Arial, sans-serif;
$avenirItalic: "AvenirItalic", Arial, sans-serif;
$avenirBlack:  "AvenirBold", Arial, sans-serif;
$avenirBlackItalic: "AvenirBlackItalic", Arial, sans-serif;
$avenirMedium: "AvenirMedium", Arial, sans-serif;
$avenirMediumItalic: "AvenirMediumItalic", Arial, sans-serif;