@import "../node_modules/node-neat/assets/stylesheets/neat-helpers";

// Change the grid settings
$column: 105px;
$gutter: 20px;
$grid-columns: 8;
$max-width: em(1020);

$fg-column: $column;
$fg-gutter: $gutter;